/* Importo Fuentes tipograficas de google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Ubuntu:ital,wght@0,500;0,700;1,400;1,700&display=swap');
/* Diseño general */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0px;
}
/* Encabezado */
header {
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #ffffff;
    background-color: #E93F01;
    background-image:
        url(img/Header.jpg);
    background-position: center;
    background-size: cover;
}
header>h1 {
    font-size: 3em;
    font-family: 'Alkatra', cursive;
    margin: 0px;
    text-align: center;
    text-shadow: white 3px 3px;
    
    /* y este elemento ? */
}
header>h2 {
    font-size: 1.5em;
    color: #fff;
    font-family: 'Ubuntu', ;
    margin: 0px;
    text-align: center;
}
/* Navegación */
nav>ul {
    margin: 0;
    background-color: #6ec702;
    text-align: center;
}
nav>ul>li {
    display: inline-block;
    padding: 10px 20px;
}
nav>ul>li:hover {
    background-color: #ffb310;
}
nav > ul > li> a {
    color: #ffffff;
    text-decoration: none;
}

    /* Notificación */
#notificacion{
        /* border: blue 2px solid; */
        margin: 0;
        padding: 10px;
        text-align: center;
        background-color: gold;
        font-size: 1.3em;
        font-weight: bold;
    }

}

/* Cuerpo principal */
main {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border: 5px solid #fff;
}
/* Sección catálogo */
section#catalogo {
    text-align: center;
    color: #000;
}
/* Artículos */
article {
    width: 24%;
    max-width: 360px;
    min-width: 200px;
    
    display: inline-block;
    margin: 20px;
    border: 4px #E5E2B7 solid;
    background-color: #f8f3f3;
    padding: 12px;
    box-sizing: border-box;
    filter: brightness(100%);
    

    /* min- width: */
}
.imgProduct {
    width: 100%;
}
        
.imgProduct__img:hover {
    filter: brightness(100%);
 }   
    
.precioOriginal {
    font-size: 1.3em;
    color: burlywood;
    text-decoration: line-through;
}
.precioDescuento {
    font-size: 1.2em;
    font-weight: bold
    ;
}
.precioFinal {

font-size: 1.2em;
color: #C70039;
font-weight: bold;
}
article > p {
    line-height: 180%;
}

footer {
    padding-top: 40px;
    padding-bottom: 20px;
    align-items: flex-start;
    background-color: #6ec702;
    color: #fff;
    line-height: 135%;
}